<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header th:fragment="dodo-header">
    <nav class="nav">
        <a href="dodo-login-register.html" class="navlink">Login Page</a>
        <a href="new-dodo-user.html" class="navlink">Create Profile</a>
        <a href="dodo-search.html" class="navlink">Make Itinerary</a>
        <a href="sitemap.html" class="navlink">Sitemap</a>
    </nav>

</header>

</body>
</html>