<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DODO: Your Day Off/Day Out Planner</title>
        <script th:src="@{script.js}" ></script>
        <link rel="stylesheet" th:href="@{styles.css}" type="text/css" />

    </head>
    <body style="visibility: hidden">
        <script>0</script>

        <header th:fragment="header">
            <nav>
                <ul class="navlist">
                    <li><a href="homenest.html" th:href="@{homenest}" class="navlink"> Home </a></li>
                    <li><a href="login.html" th:href="@{login}" class="navlink"> Login </a></li>
                    <li><a href="usernest.html" th:href="@{usernest}" class="navlink"> Nest </a></li>
<!--                    <li><a href="newuser.html" th:href="@{newuser}" class="navlink">New User</a></li>-->
<!--                    <li><a href="new-user-profile-build.html" th:href="@{}" class="navlink">New Profile</a></li>-->
                    <li><a href="newdodo" th:href="@{newdodo}" class="navlink"><button>GO DODO</button></a></li>
                </ul>
            </nav>
        </header>

        <interests-list>
            <div>
                <label><strong> Select Interests </strong></label>
            <br>
            <label> Visual Arts </label>
            <input type="checkbox" id="art" name="art" data-interest="art">
            <br>
            <label> Music </label>
            <input type="checkbox" id="music" name="music" data-interest="music">
            <br>
            <label> Nature/Outdoors </label>
            <input type="checkbox" id="nature" name="nature" data-interest="nature">
            <br>
            <label> Gaming </label>
            <input type="checkbox" id="gaming" name="gaming" data-interest="gaming">
            <br>
            <label> Sports </label>
            <input type="checkbox" id="sports" name="sports" data-interest="sports">
            <br>
            <label> Night Life </label>
            <input type="checkbox" id="night" name="night" data-interest="night">
            <br>
            <label> History </label>
            <input type="checkbox" id="history" name="history" data-interest="history">
            <br>
            <label>  Science/Technology </label>
            <input type="checkbox" id="science" name="science" data-interest="science">
            <br>
            <label> Culture </label>
            <input type="checkbox" id="culture" name="culture" data-interest="culture">
            <br>
            <label> Fashion </label>
            <input type="checkbox" id="fashion" name="fashion" data-interest="fashion">
            <br>
            <label> Books </label>
            <input type="checkbox" id="books" name="books" data-interest="books">
            <br>
            <label> Movies/Film </label>
            <input type="checkbox" id="movies" name="movies" data-interest="movies">
            <br>
            <label> Health/Wellness </label>
            <input type="checkbox" id="health" name="health" data-interest="health">
            <br>
            <label> Food </label>
            <input type="checkbox" id="food" name="food" data-interest="food">
            <br>
            <label> Events </label>
            <input type="checkbox" id="events" name="events" data-interest="events">
            </div>
            <div class="list-btns">
                <button type="button" id="saveInterests">Save & Continue</button>
                <input type="reset" id="reset">
            </div>
        </interests-list>

        <footer th:fragment="footer">
            <a href="homenest.html" th:href="@{homenest}" class="footer-link"> Home </a>
            <a href="login.html" th:href="@{login}" class="footer-link"> Login </a>
            <a href="usernest.html" th:href="@{usernest}" class="footer-link"> Nest </a>
<!--            <a href="newuser.html" th:href="@{newuser}" class="footer-link">New User</a>-->
<!--            <a href="new-user-profile-build.html" th:href="@{}" class="footer-link">New Profile</a>-->
            <a href="newdodo" th:href="@{newdodo}" class="navlink"><button> GO DODO </button></a>
            <a href="sitemap.html" th:href="@{sitemap}" class="footer-link"> Sitemap </a>
            <a href="usersDB.html" th:href="@{usersDB}" class="navlink">usersDB</a>
        </footer>
</body>
</html>