<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org/ ">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODO: Your Day Off/Day Out Planner</title>
    <script th:src="@{/dodoscripts/homenest.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}" type="text/css"/>

</head>
<body style="visibility: hidden">
<script>0</script>
<header th:replace="fragments :: header"></header>
<div class="main-img-head">
    Image header here
</div>
<header th:replace="fragments :: header"></header>
<div class="mini-head">
    <div class="mini-head-welcome-text">
        Welcome to DODO
        <br>
        Your Day Off/Day Out Adventure Planner!
    </div>
    <label class="enterText">Start Your DODO Here -- > </label>
    <input type="button" class="enterButton" id="enterSite1" value="Enter">
</div>
<div class="explainer-container">
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        1. Create a free DODO Profile.
    </div>
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        2. Select your DODO Adventure interests and where you want your DODO to be.

    </div>
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        3. Get a personalized Day Off/Day Out plan just for you!

    </div>
    <div class="example-container">
        <div class="example-dodo">Example itinerary here
        </div>
        <div class="example-map">Example map here
        </div>
    </div>
</div>
<div class="re-enter">
    <label class="re-enterText">Start Your DODO Here -- > </label>
    <input type="button" class="re-enterButton" id="enterSite2" value="Enter">
</div>
<br>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>