<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DODO: Your Day Off/Day Out Planner</title>
        <script th:src="@{dodoscripts/login.js}"></script>
        <link rel="stylesheet" th:href="@{styles.css}" type="text/css"/>
    </head>
    <body style="visibility: hidden">
    <script>0</script>
    <header th:replace="fragments :: header"></header>

    <section class="content">
        <div class="landingDiv" id="registerForm">
            <div class="hiddenDiv1" id="registerDiv">
                <form action="" method="POST" name="registerFields">
                    <div>
                        <label> Username <input type="text" id="registerName" name="username" placeholder="username" data-newName="newName"></label>
                    </div>
                    <br>
                    <div>
                        <label> Password <input type="password" id="registerPass" name="pass" maxlength="16" placeholder="password" data-newPass="newPass"></label>
                    </div>
                    <br>
                    <div>
                        <label> Email Address <input type="email" id="email" name="email" placeholder="email@domain.com" data-email="email" ></label>
                    </div>
                    <br>
                    <div>
                        <label> Phone Number <input type="tel" id="phone" name="phone" placeholder="(123) 456-7890" data-phone="phone"></label>
                    </div>
                    <br>
                    <div>
                        <label> Date of Birth <input type="date" id="birth" name="birth" data-birth="birth"></label>
                    </div>
                    <br>
                    <div>
                        <label> Location <input type="text" id="coords" name="coords" placeholder="Big City, USA" data-coords="coords"></label>
                    </div>
                    <br>
                    <div class="btns_div">
                        <ul class="btns_li">
                            <li><button type="button" class="go-back-reset-btns" id="submitRegistration">Register</button></li>
                            <li><button class="go-back-reset-btns" type="button" id="return-btn1">Back</button></li>
                            <li><button class="go-back-reset-btns" type="reset" id="reset-btn-1">Reset</button></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <div class="landingDiv" id="visibleDiv">
            <button type="button" class="login-door" id="loginButton" name="loginButton">Login</button>
            <br>
            <h4 id="or" class="or">or</h4>
            <button type="button" class="register-door" id="registerButton">Register</button>
            <h3 id="continue" class="continue">to continue</h3>
        </div>

        <div class="landingDiv" id="loginForm">
            <div class="hiddenDiv2" id="loginDiv">
                <form action="" method="POST" name="loginFields">
                    <div>
                        <br>
                        <label> Username <input type="text" id="loginName" name="username" placeholder="username" data-name="name"></label>
                    </div>
                    <br>
                    <div>
                        <label> Password <input type="password" id="loginPass" name="loginPass" maxlength="16" placeholder="password" data-pass="pass"></label>
                        <br>
                    </div>
                    <br>
                    <div class="btns_div">
                        <ul class="btns_li">
                            <li><button class="go-back-reset-btns" type="button" id="goButton">Go</button></li>
                            <li><button class="go-back-reset-btns" type="button" id="return-btn2">Back</button></li>
                            <li><button class="go-back-reset-btns" type="reset" id="reset-btn-2">Reset</button></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer th:replace="fragments :: footer"></footer>
    </body>
</html>