<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODO: Your Day Off/Day Out Planner</title>
    <script th:src="@{script.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}" type="text/css"/>

</head>
<body style="visibility: hidden">
<script>0</script>
<h1>Users</h1>
<th:block th:each="user : ${users}">
    <table>
        <thead>
            <tr>
                <th colspan="2" th:text="${user.username}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.homeCoords}"></td>
<!--                <td>${}</td>-->
            </tr>
        </tbody>
    </table>
</th:block>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>